body {
    font-family: sans-serif;
}

.chart {
    margin-bottom: 50px;
}

.line {
    fill: none;
    stroke-width: 3px; /* Increased thickness of the chart lines */
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.grid line {
    stroke: grey; /* Changed guide lines to grey */
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-width: 0.5px; /* Made guide lines thinner */
}

.grid path {
    stroke-width: 0;
}

.data-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap dynamically if there's insufficient space */
    justify-content: flex-start;
    align-items: center; /* Vertically align items */
    margin-bottom: 20px;
    gap: 10px; /* Add spacing between the items */
}

.data-box {
    width: 120px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.data-box span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

#temperature-box {
    background-color: steelblue;
}

#humidity-box {
    background-color: rgb(255, 153, 0);
}

.dropdown {
    width: fit-content;
    display: flex;
    align-items: center; /* Align dropdown items vertically */
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    gap: 5px; /* Add spacing between the label and the dropdown */
}

.dropdown select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

svg {
    display: block;
    width: 100%;
}
